@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga&display=swap');

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #F3F7FA;
}

h1, h2, h3, h4, h6, h6 {
  font-family: 'Lexend Giga', sans-serif;
}

h1 {
  font-size: 48px;
  color: #14455A;
}

h2 {
  font-size: 32px;
  color: #14455A;
}

h3 {
  font-size: 26px;
  color: #14455A;
}

h4 {
  font-size: 22px;
  color: #50514F;
}

h5 {
  font-size: 20px;
  color: #50514F;
}

h6 {
  font-size: 18px;
  color: #50514F;
}

p, button {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
}

ul{
  list-style: none;
  padding-left: 0px;
}

li:before { 
  content: "- " ;  
}

.flex_col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fixedT {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0px 2px 4px rgba(0,0,0,.25);
}

.fixedB {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0px -2px 4px rgba(0,0,0,.25);
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* min-width: 375px; */
  box-sizing: border-box;
}

.paddingBottom {
  padding-bottom: 100px;
}

.paddingB-40 {
  padding-bottom: 40px;
}

/* .inner_container {
  width: 100%;
} */

.header {
  min-width: 375px;
  min-height: 80px; 
  background-color: #CCE6F4;
}


.title_cont {
  max-width: 100%;
  margin-top: 45px;
  margin-bottom: 35px;
}

.options_cont {
  width: 100%;
}

/* .menu_container {
  min-width: 375px;
  min-height: 75px;
  background-color: #fff;
} */

.butCont {
  flex-direction: row;
  justify-content: space-between;
}

/* HOME PAGE */
.home_cont {
  min-width: 100vw;
  min-height: 100vh;
  -webkit-background: radial-gradient(circle, #fff 35%, #E8F4FB 100%);
  background: radial-gradient(circle, #fff 25%, #E8F4FB 100%);
}

.backG {
  position: absolute;
}

.topL {
  top: 0; left: 0;
  max-width: 314px; max-height: 233px;
  z-index: 2;
}

.topR {
  top: 0; right: 0;
  max-width: 112px; max-height: 126px;
}

.bttmL {
  bottom: 0; left: 0;
  max-width: 202px; max-height: 273px;
  z-index: 2;
}

.bttmR {
  bottom: 0; right: 0;
  max-width: 280px; max-height: 344px;
}

.logo_cont {
  margin-bottom: 80px;
  margin-top: 10px;
}

.logo {
  width: 234px;
  height: 214px;
  display: block;
}

.buttonCont {
  width: 154px;
  height: 55px;
}

.ReButtons {
  font-family: 'Montserrat', sans-serif;
}

.button-index {
  z-index: 5;
}

.subText {
  margin: 5px 0 30px;
  font-size: 1em;
  line-height: 1.5em;
}

.welcome_sub, .recycle_sub {
  max-width: 270px;
  text-align: center;
  margin: 60px 0;
  font-size: 22px;
  line-height: 1.5em;
}

.skip {  
  max-width: 170px;
  margin: 0;
  margin-top: 50px;
  text-align: center;
}

.skipTxt {
  font-size: 1em;  
  font-weight: 300;
  color: #14455A;
}

.recycle_sub {
  font-size: 2em;
  font-weight: 300;
}

/* 
.scrollTop {
  z-index: 1000;
  cursor: pointer;
  transition: opacity 0.4s;
  opacity: 0.5;
}
.scrollTop:hover{
  opacity: 1;
} */

.sub_title_diy{
  font-family: 'Lexend Giga', sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #14455A;
  margin-top:-10px;
  margin-bottom: 20px;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: black;
  word-wrap: break-word;
}
.alignCenter {
  text-align: center;
  padding: 0 10px;
}
.margin-20{
  margin: 20px 0;
}

/* ICON HOVER */
.icon {
  background-image: url("/icon_location.svg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 68px 112px;
}

.icon:hover {
  background-position: bottom center;
}

.icon:active {
  background-position: bottom center;
}

/* BUTTON & TEXT HOVER */
.ReButtons {
  background-color: #CCE6F4;
}

.ReButtons:hover {
background-color: #FFE066;
border-color: #D2AB0E;
}

.skipTxt:hover {
color: #247BA0;
}

.textHov:hover {
  color: #247BA0;
}

/* INFOGRAPHIC GLOBE ANIMATIONS */

@keyframes rotation {
  from{
    -webkit-transform: rotate(0deg);
  }

  to{
    -webkit-transform: rotate(360deg);
  }
}

.globe_info {
  position: absolute;
  margin-bottom: 85px;
  animation: rotation 6s linear infinite;
}
