@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga&display=swap');

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #F3F7FA;
}

h1, h2, h3, h4, h6, h6 {
  font-family: 'Lexend Giga', sans-serif;
}

h1 {
  font-size: 48px;
  color: #14455A;
}

h2 {
  font-size: 32px;
  color: #14455A;
}

h3 {
  font-size: 26px;
  color: #14455A;
}

h4 {
  font-size: 22px;
  color: #50514F;
}

h5 {
  font-size: 20px;
  color: #50514F;
}

h6 {
  font-size: 18px;
  color: #50514F;
}

p, button {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
}

ul{
  list-style: none;
  padding-left: 0px;
}

li:before { 
  content: "- " ;  
}

img {
  display: block;
}

.flex_col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex_row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.fixedT {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0px 2px 4px rgba(0,0,0,.25);
}

.fixedB {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0px -2px 4px rgba(0,0,0,.25);
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.paddingBottom {
  padding-bottom: 100px;
}

.paddingB-40 {
  padding-bottom: 40px;
}

/* .inner_container {
  width: 100%;
} */

.header {
  min-width: 375px;
  min-height: 80px; 
  background-color: #CCE6F4;
}


.title_cont {
  max-width: 100%;
  margin-top: 45px;
  margin-bottom: 35px;
}

.options_cont {
  width: 100%;
}

/* .menu_container {
  min-width: 375px;
  min-height: 75px;
  background-color: #fff;
} */

.butCont {
  flex-direction: row;
  justify-content: space-between;
}

/* HOME PAGE */
.home_cont {
  min-width: 100vw;
  min-height: 100vh;
  -webkit-background: radial-gradient(circle, #fff 35%, #E8F4FB 100%);
  background: radial-gradient(circle, #fff 25%, #E8F4FB 100%);
}

.backG {
  position: absolute;
}

.topL {
  top: 0; left: 0;
  max-width: 314px; max-height: 233px;
  z-index: 2;
}

.topR {
  top: 0; right: 0;
  max-width: 112px; max-height: 126px;
}

.bttmL {
  bottom: 0; left: 0;
  max-width: 202px; max-height: 273px;
  z-index: 2;
}

.bttmR {
  bottom: 0; right: 0;
  max-width: 280px; max-height: 344px;
}

.logo_cont {
  margin-bottom: 80px;
  margin-top: 10px;
}

.logo {
  width: 234px;
  height: 214px;
  display: block;
}

.buttonCont {
  width: 154px;
  height: 55px;
}

.ReButtons {
  font-family: 'Montserrat', sans-serif;
}

.button-index {
  z-index: 5;
}

.subText {
  margin: 5px 0 30px;
  font-size: 1em;
  line-height: 1.5em;
}

.welcome_sub, .recycle_sub {
  max-width: 270px;
  text-align: center;
  margin: 60px 0;  
}

.welcome_sub {
  margin: 60px 0 20px;  
}

.welcome_sub p {
  line-height: 1.5em;
}

.welcome_sub img{
  display: block;
  margin: 0 auto;
  margin-bottom: 50px;
}

.skip {  
  max-width: 230px;
  margin: 0;
  margin-top: 50px;
  text-align: center;
}

.skipTxt {
  font-size: 1em;  
  font-weight: 300;
  color: #14455A;
}

.recycle_sub {
  font-size: 2em;
  font-weight: 300;
}

.skip img {
  margin: 0 auto;
  margin-bottom: 15px;
}

.skip:hover .recycle_icon{
  animation: rotating 2s linear infinite;
}

.welcome_sub{
  position: relative;
  top: 0; left: 0;
}

.globe_icon {
  position: absolute;
  top: 25px; left: 33%;
  animation: rotating 2s linear infinite;
}

.bttn_icon{
  margin: 0 auto;
  width: 110px;
  height: 115px;
  margin-bottom: 20px;
}

.marginR {
  margin-right: 25px;
}

/* 
.scrollTop {
  z-index: 1000;
  cursor: pointer;
  transition: opacity 0.4s;
  opacity: 0.5;
}
.scrollTop:hover{
  opacity: 1;
} */

.sub_title_diy{
  font-family: 'Lexend Giga', sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #14455A;
  margin-top:-10px;
  margin-bottom: 20px;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: black;
  word-wrap: break-word;
}
.alignCenter {
  text-align: center;
  padding: 0 10px;
}
.margin-20{
  margin: 20px 0;
}

/* ICON HOVER */
.icon {
  background-image: url("/icon_location.svg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 68px 112px;
}

.icon:hover {
  background-position: bottom center;
}

.icon:active {
  background-position: bottom center;
}

/* ICON TILTING ANIMATION - icon container: .icon_tilt / icon itself: .bttn_icon */
.icon_tilt:hover .bttn_icon{
  animation: tilting 0.5s linear infinite;
}

/* BUTTON & TEXT HOVER */
.ReButtons {
  background-color: #CCE6F4;
}

.ReButtons:hover {
background-color: #FFE066;
border-color: #D2AB0E;
}

.skipTxt:hover {
color: #247BA0;
}

.textHov:hover {
  color: #247BA0;
}



/* KEY FRAMES */

@keyframes rotating {
  from{
      -webkit-transform: rotate(0deg);
  }
  to{
      -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes rotating {
  from{
      -webkit-transform: rotate(0deg);
  }
  to{
      -webkit-transform: rotate(360deg);
  }
}

@keyframes moveLeft {
  from {
    margin-left: 100%;
    width: 300%; 
    opacity: 0;
  }

  to {
    margin-left: 0%;
    width: 100%;
    opacity: 1;
  }
}
            
@-webkit-keyframes moveLeft {
  from {
    margin-left: 100%;
    width: 300%; 
    opacity: 0;
  }

  to {
    margin-left: 0%;
    width: 100%;
    opacity: 1;
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
            
@-webkit-keyframes opacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes tilting {
  from{
    -webkit-transform: rotate(0deg);
  }
  24%{
    -webkit-transform: rotate(5deg);
  }
  75%{
    -webkit-transform: rotate(-5deg);
  }
  100%{
    -webkit-transform: rotate(0deg);
  }
}

@-webkit-keyframes tilting {
  from{
    -webkit-transform: rotate(0deg);
  }
  24%{
    -webkit-transform: rotate(5deg);
  }
  75%{
      -webkit-transform: rotate(-5deg);
  }
  100%{
    -webkit-transform: rotate(0deg);
  }
}

/* INFOGRAPHIC GLOBE ANIMATIONS */

@keyframes rotation {
  from{
    -webkit-transform: rotate(0deg);
  }

  to{
    -webkit-transform: rotate(360deg);
  }
}

.globe_info {
  position: absolute;
  margin-bottom: 85px;
  animation: rotation 6s linear infinite;
}


/*SCROLL ARROW MAYBE*/

#container {
  margin: 20px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-bottom: 75px;
}

.scrollarrow {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.scrollarrow:first-child {
  animation: move 3s ease-out 1s infinite;
}

.scrollarrow:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.scrollarrow:before,
.scrollarrow:after {
content: ' ';
position: absolute;
top: 0;
height: 100%;
width: 51%;
background: #CCE6F4;
}

.scrollarrow:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.scrollarrow:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
    25% {
        opacity: 1;
    }
    33% {
      opacity: 1;
      transform: translateY(30px);
    }
    67% {
      opacity: 1;
      transform: translateY(40px);
    }
    100% {
      opacity: 0;
      transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
}

#scroll-text {
  margin-top: 20%;
  text-align: center;
}
